*{
    margin: 0;
    padding: 0;
}


                                                    /*Header og navbar*/
header{
    background-color: #797d62;

    padding: 2%;
    z-index: 1;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

/* placering af menupunkterne af navbaren */
nav{
    display: flex;
    gap: 30px;
}

/* styling af to a tags i headeren om ikke skal have drop down */
nav > a{
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color:#f7f8f6;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav > a:hover{
    font-weight: 800;
}


/* Ikoner i venstre side af headeren */
#navikoner {
    display: flex;
    gap: 30px;
}

#searchnavikon, #loginnavikon, #shoppingnavikon {
    width: 40px;
    height: 40px;
}


/* dropdown styling i navbaren */
.dropbtn {
    background-color: transparent;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color: #f7f8f6;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
  }
  
  /* display none, da content i dropdown skal være gemt væk når man ikke hover over det */
  .dropdown-content {
    display: none;
    position: absolute;

    background-color: #797d62;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color: #f7f8f6;
    font-size: 13pt;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.075);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #f7f8f6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* dropdown hover  */

  /* skift af baggrundfarve og font weight når man over */
  .dropdown-content a:hover {
      background-color: #9b9b7a;
      font-weight: 800;
    }
  /* display bliver ændret til blok, for at vise content når man hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }

                                                    /* Burger menu */

#burgermenubody{
    background-color: #797d62;
    color: #f7f8f6;
}

#burgermenu{
    display:flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}

#burgermenunavnikoner{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 10%;
}

.burgermennunavikon{
    width: 40px;
    height: 40px;
}

#burgermenuexit > img{
    width: 40px;
    height: 40px;
    padding: 6%;
}

#mobilemenubutton{
    width: 50px;
    height: 50px;
}


                                                         /* Forside */

                                                        /* hero sektion */
#heroforside{
    width: 100%;
    height: auto;
}
#heroforsidetekst{
    font-family: cormorant-garamond, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    
}
                                            /* vores historie teaser på forsiden */
#historieteaser{
    text-align: center;
    padding:10% 15%;
}

h2{
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 30px;
}

p{
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    padding-bottom:30px;
}

                                                    /* nyhed på forsiden */

            

.tokolonner, #nyhedforsidebillede, #nyhedforsidetekst {
    display:flex;
    background-color: #d9ae94;
}

#nyhedforsidebillede, #nyhedforsidetekst{
    align-items:center;
    text-align: center;
}

#nyhedforsidebillede > img{
    width:100%;
}

#nyhedforsidetekst > div, #medlemforsidetekst > div{
    padding: 10%;
}

.lyserøddknap{
    background-color: #c4685a;
    border: none;
    color:#f7f8f6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.lyserøddknap:hover{
    font-weight: 600;
}

                                                        /* Forside cards */


#forsidecards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#forsidecards > img{
    width: 33%;
}


                                                    /* medlemsskab på forsiden */


.tokolonnermedlem, #medlemforsidebillede, #medlemforsidetekst {
    display:flex;
    background-color: #9b9b7a;
}

#medlemforsidebillede, #medlemforsidetekst{
    align-items:center;
    text-align: center;
}

#medlemforsidebillede > img{
    width:100%;
}


.grønknap{
    background-color: #797d62;
    border: none;
    color:#f7f8f6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.grønknap:hover{
    font-weight: 600;
}

                                                        /* Gallerisiden */

#gallerimaincontent{
    text-align: center;
    background-color:#fdfaf8;
}
#gallerimaincontent > h1 {
    margin: 5%;
}
                                                        /* Historiesiden */

/*Billede på siden historie*/
#billede-historie{ 
    background-image: url("img-desktop/broed1.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

 }

 /*Billede på siden historie*/
 #billede-historie > div{
   
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30pt;
    letter-spacing: 2px;
    color: #f7f8f6;
    
 }


 section.historie > div {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color:  #9b9b7a;
   
  }
  
  section.historie > div > h3{
    padding-left: 300px; 
    padding-right: 300px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    padding-bottom: 8pt;
    font-size: 30px;
    color: #f7f8f6;
    text-transform: uppercase;
  }
  

  section.historie > div > p{
    padding-left: 200px; 
    padding-right: 200px;
    color:#f7f8f6;
    text-align: center;
}  

                                                    /* How to underside */


/*hero*/
section#overskriftopskrift{
    background-image:url("img-desktop/howtobaggrund.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#overskriftopskrift > div >h1{
    margin-bottom: 4%;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    color: black;
    font-size:100px;
    text-align: center;
}

section#overskriftopskrift > div > p {
    text-align: center;
}

/* How to CARDS*/

#howto{
    display: flex;
    flex-direction: row;
    padding: 4%;
}

/* opskrifter */
#howto > section.opskrifter > div{
    display: flex;
    width: 100%;
    padding-top:25px;

}

#howto> section.opskrifter> h3{
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: cormorant-garamond, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: black;
    text-align: center;
}

/* ingredienser */

#howto > section > div > div.ingredienser > h4{
    text-align: center;
    margin-bottom: 15px;
}

#howto > section > div > div.fremgang > h4{
    text-align: center;
    margin-bottom: 15px;
}
#howto > section > div > div.ingredienser >  a{
    padding-left: 35%;
    color: black;
    text-transform: uppercase;
}

#howto > section > div > div.ingredienser > ul {
    margin: 30px;
   
    text-align: left;
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
}

/* fremgangsmåde  */
#howto > section > div > div.fremgang > p{
    text-align: center;
    text-transform: uppercase;
    font-family: cormorant-garamond, serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    padding-top: 6%;
    padding-bottom: 5%;
}

#howto > section > div > div.fremgang > ul > li{
    text-align: left;
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}
#howto > section > div > div.fremgang > ol > li{
    text-align: left;
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

                                                        /* Produkter */

/* hero sektion */

#heroprodukt{
    background-image: url("img-desktop/produkt-hero-kage.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #heroprodukt > div > h1{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30pt;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
 }

 #heroprodukt > div > p{
    text-align: center;
    font-size: 16pt;
    letter-spacing: 2px;
    color: black;
    padding: 2% 14%;
 }
 
 #heroprodukt > div > img{
    margin-left:49%;
 }



/* produkter */
#produktbilleder{
    display: flex;
}

#produktbilleder > div{
    display: flex;
}


#produktlillebilleder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}



                                                        /* footer */


footer{
    padding-top:50px;
    min-height:300px;
    width:100%;

    background-color:#797d62;
    text-align:left;

    display: flex;
    justify-content: space-evenly;
    align-items:stretch;
}

footer > div > a > img{
    padding-top: 10px;
    height: 50px;
    width: 50px;
}

/* tekst dekoration på footer */
h6{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
    color: #f7f8f6;
}

footer > div > p{
    margin-top:20px;
    margin-bottom:20px;
    color: #f7f8f6;
}


footer > div > p > a{
    text-decoration: none;
    color: #f7f8f6;
}

footer > div > p > a:hover{
    font-weight: 300;
}




                                                            /*Media Qoury*/ 
                                                    /* @media min-width 1026px */
@media only screen and (min-width:1026px){
    /* header */
   #mobilemenubutton{
       display: none;
   }

   #logo{
        padding-right:25%;
        cursor:pointer;
    }

    /* nyheder forsiden */
    .tokolonner, .tokolonnermedlem{
        flex-direction:row;
    }
    #nyhedforsidebillede, #nyhedforsidetekst, #medlemforsidebillede, #medlemforsidetekst{
        width:50%;
    }

    
}

                                                        /* @media max-width 1026px */

@media only screen and (max-width:1026px){

    /* header */
    #desktopmenu{
        display: none;
    }

    #logo{
        padding-left: 15%;
    }


    /* heroforside */
    #heroforsidetekst{
        font-size: 34px;
        transform: translate(-50%, -10%);
    }


    /* historie teaser forside */
    #historieteaserh2{
        font-size: 20px;
    }


    /* Nyheder forsiden */
    .tokolonner, .tokolonnermedlem{
        flex-direction:column;
    }

    /* produkter */

    #produktbilleder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #produktbilleder > div {
        display: flex;
        justify-content: center;
    }
  
  
    #produktstorbillede > img{
        width: 100%;
        height: auto;
    }

    /* footer */
    footer{
        flex-direction: column;
        align-items: center;
    }
}


                                                        /* @media max-width 768px */


@media only screen and (max-width:768px){


    /* header */
    div >#searchnavikon{
        display: none;
    }


    /* heroforside */
    #heroforsidetekst {
        font-size: 25px;
        transform: translate(-50%, -180%);
    }


    /* cards forsiden */
    #forsidecards > img{
        width: 50%;
    }


    /* Historiesiden  */
    section.historie>div>p {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 90px;
        padding-right: 90px;
        color: #f7f8f6;
    }
    section.historie>div>h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        color: #f7f8f6;
    }

    #billede-historie{ 
        height: 40vh;
    }

    #billede-historie > div {
        font-size: 20pt;
    }


    /* how to underside */
    #howto {
        display: flex;
        flex-direction: column;
    }

}

                                                        /* @media max-width 414px */

@media only screen and (max-width:414px){

    /* header */
    #mobilemenubutton {
        width: 40px;
        height: 40px;
    }

    #navikoner{
        gap:10px;
    }

}
