*{
    margin: 0;
    padding: 0;
}


                                                    /*Header og navbar*/
header{
    background-color: #797d62;

    padding: 2%;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  
}

/* spacing af navbaren */
nav{
    display: flex;
    gap: 30px;
}

/* styling af to a tags i headeren om ikke skal have drop down */
nav > a{
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav > a:hover{
    font-weight: 800;
}


/* Ikoner i venstre side af headeren */
#navikoner {
    display: flex;
    gap: 30px;
}

#searchnavikon, #loginnavikon, #shoppingnavikon {
    width: 40px;
    height: 40px;
}


/* dropdown styling i navbaren */
.dropbtn {
    background-color: transparent;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
  }
  
  /* display none, da content i dropdown skal være gemt væk når man ikke hover over det */
  .dropdown-content {
    display: none;
    position: absolute;

    background-color: #797d62;
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 13pt;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.075);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* dropdown hover  */

  /* skift af baggrundfarve og font weight når man over */
  .dropdown-content a:hover {
      background-color: #9b9b7a;
      font-weight: 800;
    }
  /* display bliver ændret til blok, for at vise content når man hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }

                                                    /* Burger menu */

#burgermenubody{
    background-color: #797d62;
    color: white;
}

#burgermenu{
    display:flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 30%;
}

#burgermenunavnikoner{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.burgermennunavikon{
    width: 40px;
    height: 40px;
}

#burgermenuexit > img{
    width: 40px;
    height: 40px;
    padding: 6%;
}

#mobilemenubutton{
    width: 50px;
    height: 50px;
}


                                                         /* Forside */

                                                        /* hero sektion */
#heroforside{
    width: 100%;
    height: auto;
}
#heroforsidetekst{
    font-family: cormorant-garamond, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    
}
                                            /* vores historie teaser på forsiden */
#historieteaser{
    text-align: center;
    padding:10% 15%;
}

h2{
    font-family: cormorant-garamond, serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 30px;
}

p{
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    padding-bottom:30px;
}

                                                    /* nyhed på forsiden */

            

.tokolonner, #nyhedforsidebillede, #nyhedforsidetekst {
    display:flex;
    background-color: #d9ae94;
}

#nyhedforsidebillede, #nyhedforsidetekst{
    align-items:center;
    text-align: center;
}

#nyhedforsidebillede > img{
    width:100%;
}

#nyhedforsidetekst > div, #medlemforsidetekst > div{
    padding: 10%;
}

.lyserøddknap{
    background-color: #c4685a;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.lyserøddknap:hover{
    font-weight: 600;
}

                                                        /* Forside cards */


#forsidecards{
    display: flex;
    flex-wrap: wrap;
}


                                                    /* medlemsskab på forsiden */


.tokolonnermedlem, #medlemforsidebillede, #medlemforsidetekst {
    display:flex;
    background-color: #9b9b7a;
}

#medlemforsidebillede, #medlemforsidetekst{
    align-items:center;
    text-align: center;
}

#medlemforsidebillede > img{
    width:100%;
}

.grønknap{
    background-color: #797d62;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.grønknap:hover{
    font-weight: 600;
}

                                                        /* Gallerisiden */

#gallerimaincontent{
    text-align: center;
    background-color:#fdfaf8;
}

/*Galleri cards*/

.galleri-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.galleri-cards > div > img{
    width: 400px;
}









                                                        /* footer */


h6{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
    color: white;
}

footer{
    padding-top:50px;
    min-height:300px;
    width:100%;

    background-color:#797d62;
    text-align:left;

    display: flex;
    justify-content: space-evenly;
    align-items:stretch;
}



footer > div >p{
    margin-top:20px;
    margin-bottom:20px;

    color: #f7f8f6;
    text-align: center;
    text-align: left;
    line-height: 30px;
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 10pt;
}


footer > div > p > a{
    text-decoration: none;
    color: #f7f8f6;
}

footer > div > p > a:hover{
    font-weight: 300;
}


footer > div > a > img{
    padding-top: 10px;
    height: 50px;
    width: 50px;
}



                                                            /*Media Qoury*/ 

@media only screen and (min-width:1026px){
    /* header */
   #mobilemenubutton{
       display: none;
   }

   #logo{
        padding-right:25%;
        cursor:pointer;
    }

    /* nyheder forsiden */
    .tokolonner, .tokolonnermedlem{
        flex-direction:row;
    }
    #nyhedforsidebillede, #nyhedforsidetekst, #medlemforsidebillede, #medlemforsidetekst{
        width:50%;
    }
}

@media only screen and (max-width:1026px){
    /* header */
    #desktopmenu{
        display: none;
    }

    #logo{
        padding-left: 15%;
    }

    /* heroforside */
    #heroforsidetekst{
        font-size: 34px;
        transform: translate(-50%, -130%);
    }

    /* historie teaser forside */
    #historieteaserh2{
        font-size: 20px;
    }

    /* Nyheder forsiden */
    .tokolonner, .tokolonnermedlem{
        flex-direction:column;
    }

    /* footer */
    footer{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width:768px){
    /* header */
    div >#searchnavikon{
        display: none;
    }

    /* heroforside */
    #heroforsidetekst {
        font-size: 25px;
        transform: translate(-50%, -200%);
    }

    /* gallerisiden */
    .galleri-cards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .galleri-cards > div > img {
        width: 300px;
        margin-bottom: 10px;
    }

    h1{
        font-size: 20pt;
    }
}

@media only screen and (max-width:414px){
    /* header */
    #mobilemenubutton {
        width: 40px;
        height: 40px;
    }

    #navikoner{
        gap:10px;
    }

    /* heroforside */
    #heroforsidetekst {
        font-size: 20px;
        transform: translate(-50%, -290%);
    }
}
